/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 22%);
  --clr-bg3: hsl(323 18% 93%);
  --clr-neonx: hsl(86, 100%, 64%);
}

@font-face {
  font-family: 'neon-font';
  src: url('fonts/AUTOMANI.TTF') format('truetype');
}

@font-face {
  font-family: 'neon-font3';
  src: url('fonts/Monoton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'neon-font4';
  src: url('fonts/Tonight.ttf') format('truetype');
}

@font-face {
  font-family: 'neon-font2';
  src: url('fonts/Neoneon-3zaD6.otf') format('opentype');
}

@font-face {
  font-family: 'neon-font5';
  src: url('fonts/Parkvane-DLMx.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-bg);
  font-family: DejaVu Serif;
  max-width: 100vw;
  font-weight: 900;
}

#third .card, #second .card, #fourth .card, #fifth .card {
  border-radius: 0.25em;
  color: var(--clr-bg3);
  height: 55vh;
}

.title-text {
  color: var(--clr-bg3);
  font-weight: 800;
}

.progbar {
  background-color: var(--clr-neon);
}

#first {
  background-image: url("steinar-engeland-GwVmBgpP-PQ-unsplash.jpg");
  height: 90vh;
  width: 100%;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#second, #fourth {
  min-height: 80vh;
  width: 100%;
}

#third, #fifth {
  min-height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#third {
  background-image: linear-gradient(0deg, rgba(68, 44, 59, 1) 0%, rgba(175, 255, 71, 0) 8%, rgba(175, 255, 71, 0) 93%, rgba(68, 44, 59, 1) 100%), url("solid-color-image.png");
  }

#fifth {
  background-image: linear-gradient(0deg, rgba(50, 47, 61, 1) 0%, rgba(175, 255, 71, 0) 8%, rgba(175, 255, 71, 0) 93%, rgba(68, 44, 59, 1) 100%), url("solid-color-image.png");
}

.neon-button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #ffd8d8;
  text-shadow: 
  0.05vw 0vw .12vw #ffd8fe, .1vw 0vw .12vw #ffd8fe, .2vw 0vw .12vw #ffd8fe, 
  0.05vw 0vw   0vw #f257fe, .1vw 0vw   0vw #f257fe, .2vw 0vw   0vw #f257fe,
  0.05vw 0vw  0.05vw #f257fe, .1vw 0vw  0.05vw #f257fe, .2vw 0vw  0.05vw #f257fe,
  0.05vw 0vw   1vw #f257fe, .1vw 0vw   1vw #f257fe, .2vw 0vw   1vw #f257fe, 
  0.05vw 0vw   0.5vw #e50bfe, .1vw 0vw   0.5vw #e50bfe, .2vw 0vw   2.5vw #e50bfe, 
  0.05vw 0vw   2.5vw #e50bfe, .1vw 0vw  10vw #e50bfe, .2vw 0vw  5vw #e50bfe,
  0.05vw 0vw  5vw #e50bfe, .1vw 0vw  15vw #e50bfe, .2vw 0vw  5vw #e50bfe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  white-space: nowrap;
  font-family: neon-font5;
  font-size: 3em;
  font-weight: 500;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 30%;
  width: 150%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

#third .neon-button, #fifth .neon-button {
  color: var(--clr-neon); 
  text-shadow: 6px 6px 12px hsla(317, 100%, 54%, 0.3), 0 -5px 12px hsla(317, 100%, 54%, 0.3);
  font-family: neon-font;
}



.nav-button, .ddown-btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neonx);
  border: var(--clr-neonx) 0.125em solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--clr-neonx);
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonx), 0 0 0.5em 0 var(--clr-neonx);
  position: relative;
  font-family: neon-font5;
  font-size: 150%;
  font-weight: 900;
  padding: 0.25rem;
 
}

.nav-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3em 1em var(--clr-neonx);
  opacity: 0;
  background-color: var(--clr-neonx);
  z-index: -1;
  transition: opacity 100ms linear;
}

.nav-button:hover, .nav-button:focus, .ddown-btn:hover {
  color: var(--clr-neon);
  text-shadow: none;
}

.nav-button:hover::before, .nav-button:focus::before, .nav-button:hover::after, .nav-button:focus::after {
  opacity: 1;
}

#ddown {
  width: 100%;
  overflow-y: auto;
  max-height: 40vh;
  background-color: var(--clr-neonx);
}

.ddown-bg { background-color: transparent; border: none; }

.devise-container {
  border: var(--clr-neonx) 1.5em solid;
  border-radius: 0.5em;
  border-bottom-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  box-shadow: -0.5em -0.5em 1em var(--clr-neonx), 0.5em 0.5em 1em var(--clr-neonx);
  margin-top: 8vh;
  margin-bottom: 13vh;
}

.input_field {
  border: none;
  width: 100%;
  background-color: rgb(33, 37, 41);
  color: var(--clr-bg3);
  padding: 1rem 0;
  border-radius: 1em;
}

.input_label, .submit-btn {
  color: var(--clr-neon);
  padding: 0.3rem;
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--clr-neon);
  font-family: neon-font3;
  font-size: 2.1rem;
}

.submit-btn {
  color: rgb(243, 227, 243);
  background-color: var(--clr-neon);
  font-family: Dejavu Serif;
  font-weight: 900;
  font-size: 1.7rem;
  padding: 0.6rem 5rem;
  float: right;
}

.text-mask {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.01);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.header-text {
 
  color: var(--clr-neon); 
  white-space: nowrap;
  font-family: Dejavu Serif;
  font-size: clamp(1rem, -0.7308rem + 9.6154vw, 6rem);
  font-weight: 900;
}

.text-small {
  font-size: 1rem;
  font-weight:lighter;
  color: rgba(180, 180, 180, 0.8);
}

.colortries {
  background-color: #322f3d;
}

.footer-bg {
  background-color: #322f3d;
  
}


.neon-wrapper {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.01);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  box-shadow:
  0 0 0.1vw  0.4vw #fff7fe,   
  0 0 0.4vw  0.6vw #e972fe, 
  0 0   4vw  0.4vw #e50bfe,
  inset 0 0 1.5vw  0.4vw #e50bfe,
  inset 0 0 0.4vw  0.2vw #e972fe,
  inset 0 0 0.5vw  0.2vw #fff7fe;
  border-radius: 1.5rem;
}
.neon-text {
  font-family:neon-font2;
  font-size: 7rem;
  color: #ffd8d8;
  padding: 0 2rem 0 2rem;
  text-shadow: 
  .1vw 0vw .25vw #ffd8fe, .2vw 0vw .25vw #ffd8fe, .4vw 0vw .25vw #ffd8fe, 
  .1vw 0vw   0vw #f257fe, .2vw 0vw   0vw #f257fe, .4vw 0vw   0vw #f257fe,
  .1vw 0vw  .1vw #f257fe, .2vw 0vw  .1vw #f257fe, .4vw 0vw  .1vw #f257fe,
  .1vw 0vw   2vw #f257fe, .2vw 0vw   2vw #f257fe, .4vw 0vw   2vw #f257fe, 
  .1vw 0vw   1vw #e50bfe, .2vw 0vw   1vw #e50bfe, .4vw 0vw   5vw #e50bfe, 
  .1vw 0vw   5vw #e50bfe, .2vw 0vw  20vw #e50bfe, .4vw 0vw  10vw #e50bfe,
  .1vw 0vw  10vw #e50bfe, .2vw 0vw  30vw #e50bfe, .4vw 0vw  10vw #e50bfe;

}
.neon-header {
  font-family:neon-font5;
  color: #ffd8d8;
  text-shadow: 
  0.05vw 0vw .12vw #ffd8fe, .1vw 0vw .12vw #ffd8fe, .2vw 0vw .12vw #ffd8fe, 
  0.05vw 0vw   0vw #f257fe, .1vw 0vw   0vw #f257fe, .2vw 0vw   0vw #f257fe,
  0.05vw 0vw  0.05vw #f257fe, .1vw 0vw  0.05vw #f257fe, .2vw 0vw  0.05vw #f257fe,
  0.05vw 0vw   1vw #f257fe, .1vw 0vw   1vw #f257fe, .2vw 0vw   1vw #f257fe,
  0.05vw 0vw   0.5vw #e50bfe, .1vw 0vw   0.5vw #e50bfe, .2vw 0vw   2.5vw #e50bfe;
  font-size: 4rem;
}

.profile-head, .newpa th , .ddown-btn {
text-shadow: 
0.02vw 0vw .06vw #ffd8fe, .05vw 0vw .06vw #ffd8fe, .1vw 0vw .06vw #ffd8fe, 
0.02vw 0vw   0vw #f257fe, .05vw 0vw   0vw #f257fe, .1vw 0vw   0vw #f257fe,
0.02vw 0vw  0.02vw #f257fe, .05vw 0vw  0.02vw #f257fe, .1vw 0vw  0.02vw #f257fe,
0.02vw 0vw   0.5vw #f257fe, .05vw 0vw   0.5vw #f257fe, .1vw 0vw   0.5vw #f257fe, 
0.02vw 0vw   0.25vw #e50bfe, .05vw 0vw   0.2vw #e50bfe, .1vw 0vw   1.2vw #e50bfe;
}

.profile-head {
  font-family:neon-font5;
  color: #ffd8d8;
  font-weight: 200;
  font-size: 4rem;
}

.newpa {
  background-color: var(--clr-neonx);
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  overflow-y: auto;
  margin-bottom: 10vh;  
  scrollbar-width: thin;
  scrollbar-color: var(--clr-neon) var(--clr-neonx);
}
.newpa a {
  text-decoration: none;
  color: #322f3d;
}

.newpa::-webkit-scrollbar, #ddown::-webkit-scrollbar {
  width: 12px;
}

.newpa::-webkit-scrollbar-track, #ddown::-webkit-scrollbar-track  {
  background: var(--clr-neonx);
}

.newpa::-webkit-scrollbar-thumb, #ddown::-webkit-scrollbar-thumb {
  background-color: #322f3d;
  border-radius: 20px;
  border: 3px solid #322f3d;
}

.newpa thead {
  background-color: #322f3d;
  height: 10vh;
  vertical-align: middle;
}

.newpa th {
  font-family:neon-font2;
  color: var(--clr-neon);
  font-size: 1.7rem;
}

.newpa tbody  {
  color: #322f3d;
}

.show-card {
  background-color: #322f3d;
  width: 60vw;
  color: var(--clr-bg3);
}

.ddown-btn {
  color: #ffd8d8;
  font-family: neon-font5;
  box-shadow: none;
  font-weight: 200;
  padding: 0 1rem;
}


.show-info-text, .profile-not-yet {
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--clr-neon);
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  font-family: neon-font3;
  font-size: 200%;
  font-weight: 500;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.profile-not-yet, .btn-join {
  color: var(--clr-neonx);
  border: var(--clr-neonx) 0.125em solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--clr-neonx);
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonx), 0 0 0.5em 0 var(--clr-neonx);
  font-weight: 500;
  }
  .profile-not-yet {
  padding: 0.5rem;
  text-align: center;
  font-size: 110%;
  width: 60%;
  font-family: neon-font5;
  }

  .btn-join {
    padding: 1rem;
    font-weight: 900;
    font-size: 130%;
  }

.show-button {
  width: 60%;
  font-weight: 900;
  padding: 1rem;
}

.profile-card {
  background-color: #322f3d;
  width: 45vw;
  color: var(--clr-bg3);
}

.accordion-bg {
  background: var(--clr-bg);
}

.accordion-button, .collapsed {
  background: var(--clr-neonx);
  color: var(--clr-neon);
  text-align: center;
}

.accordion-item {
  font-size: 90%;
  font-weight: 500;
  border: none;
}

.devise-links {
  color: var(--clr-neon);
  text-decoration: none;
}

.accordion-button:not(.collapsed) {
  color: var(--clr-neon);
  background: var(--clr-neonx);
  box-shadow: none;
  text-align: center;
}

.profile-text, .profile-header, .text-lighter {
  color: var(--clr-bg3);
}

.profile-header {
  font-family: neon-font5;
  font-weight: 900;
}

.profile-span {
  color: var(--clr-neonx);
}

.btn-settings {
  color: var(--clr-bg3);
  background-color: #322f3d;
  width: 50%;
  padding: 1rem;
  font-weight: 900;
}

.profile-margin {
  margin-top: 8vh;
}

#event_date_1i, #event_date_2i, #event_date_3i {
  background-color: #322f3d;
  color: var(--clr-bg3);
  font-weight: 900;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .neon-text {
    font-size: 5rem;
    padding: 0 1.4rem 0 1.4rem;
  }
  .progress {
    display: none;
  }
  .neon-button {
    font-size: 2em;
  }
  .show-card {
    width: 95vw;
  }
}